version: "3"

services:
  checker:
    image: jaztec/domain-checker:latest
    restart: always
    ports:
      - "127.0.0.1:${PORT}:${PORT}"
    environment:
      - PORT
      - AUTH_TOKEN
      - TLS_CERT
      - TLS_KEY
      - TLS_ALLOW_INSECURE
      - REDIS_DSN
      - REDIS_PASSWORD
      - REDIS_DB
      - TRANSIP_ACCOUNT_NAME
      - TRANSIP_KEY_FILE_PATH
    volumes:
      - ./certs:/var/certs:ro